.container{
    background-color:white;
    max-width: 500px;
    margin: 50px auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 2);
    border-radius: 10px;
}
h1{
    text-align: center;
}

.form-control{
    margin-bottom: 15px;
}

.login-btn{
    width: 100%;
    background-color: #F9A620;
    border: none;
    color: #000;
    margin-top: 20px;
    font-weight: 500;
    font-size: 1.5rem;
}
.login-btn:hover{
    background-color: #FFD449;
}
.signup-text{
    margin-left: 10px;
    color: #F9A620;
}

.login-heading{
    color:#F9A620
}

label{
    color:#548C2F;
    font-weight: 500;
}