.container{
    background-color:white;
    max-width: 500px;
    margin: 50px auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 2);
    border-radius: 10px;
    padding: 50px;
}
h1{
    text-align: center;
    color: #104911;
}

.form-control{
    margin-bottom: 15px;
}

.signup-btn{
    width: 100%;
    background-color: #104911;
    border: none;
    color: #fff;
    margin-top: 20px;
    border: 2px solid #104911;
    font-weight: 500;
    font-size: 1.5rem;
}
.signup-btn:hover{
    background-color:#548C2F;
    border:2px solid #548C2F;

}
.form-text{
    margin-bottom: 50px;
    
}

.login-text{
    margin-left: 10px;
    color: #104911;
}